<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <script src="../assets/js/color-modes.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>INDEX</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">



  <!-- Custom styles for this template -->
  <link href="sidebars.css" rel="stylesheet">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


    <!-- These are the styles of my SPA - irrelevant -->
  <style>
    .btn-toggle {
      padding: .25rem .5rem;
      font-weight: 600;
      color: white;
      background-color: transparent;
      height: 40px;
    }

    .btn-toggle:hover {
      color: white;
      background-color: rgb(127, 127, 127);
    }

    .btn-toggle::before {
      width: 1.25em;
      line-height: 0;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
      transition: transform .35s ease;
      transform-origin: .5em 50%;
    }

    .btn-toggle[aria-expanded="true"] {
      color: white;
      font-weight: 800;
    }

    .btn-toggle[aria-expanded="true"]::before {
      transform: rotate(90deg);
    }

    .btn-toggle-nav a {
      padding: .1875rem .5rem;
      margin-top: .125rem;
      margin-left: 1.25rem;
      color: white !important;
    }

    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
      background-color: rgb(133, 133, 133);
      color: white !important;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .thing {
      height: 10px;
      font-size: 12px;
    }
  </style>

  <!-- These are the icons -->
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="bookmark" viewBox="0 0 16 16">
      <path
        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
      <path
        d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4" />
    </symbol>
    <symbol id="gear" viewBox="0 0 16 16">
      <path
        d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
    </symbol>
    <symbol id="remove" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
    </symbol>
  </svg>


  <main class="d-flex">
    <div class="d-flex flex-column p-3 text-bg-dark" style="width: 280px; height: 100vh;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        Dashboard
      </a>
      <hr>
      <!-- Buttons to add new content -->
      <button type="button"
        style="padding-top: 2px; padding-left: 13px; padding-right: 10px; padding-top: 7px; width: 100%;"
        class="btn btn-primary" data-bs-toggle="modal" type="button" href="#" data-bs-target="#addItemModal">Add New
        Item
        <!-- Referencing the modal named addItemModal -->
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#bookmark" />
        </svg></button>
      <button type="button"
        style="padding-top: 2px; padding-left: 13px; padding-right: 10px; padding-top: 7px; width: 100%; margin-top:10px;"
        class="btn btn-primary" data-bs-toggle="modal" type="button" href="#" data-bs-target="#addFilterModal">Add New
        Filter
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#bookmark" />
        </svg></button>
      <button type="button"
        style="padding-top: 2px; padding-left: 13px; padding-right: 10px; padding-top: 7px; width: 100%; margin-top:10px;"
        class="btn btn-primary" data-bs-toggle="modal" type="button" href="#" data-bs-target="#addNameModal">Add New
        Filter Name
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#bookmark" />
        </svg></button>
      <hr>
      <!-- Buttons to navigate from table to table -->
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link active btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="tab" aria-current="page" href="#items"> 
            <!-- Referencing items -->
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="tab" href="#filters">
            Filters
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="tab" href="#filternames">
            Filter Names
          </a>
        </li>

      </ul>
      <hr>
      <!-- User icon and name at the bottom - irrelevant -->
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQdztTDcpZ2pFqwWDYwSXbvZq5nzJYg5cn8w&s" alt="" width="32" height="32"
            class="rounded-circle me-2">
          <strong>User</strong>
        </a>
      </div>
    </div>
    </ul>

    <!-- Table bodies -->
    <div class="tab-content flex-grow-1 pt-2">
      <div class="tab-pane fade show active all-items" id="items">
        <h1 style="margin-left:50px; margin-top:30px; margin-bottom:-40px;">Items</h1>
        <!-- Item Table -->
        <table class="thing table table-striped table-hover table-bordered align-middle"
          style="margin-left: 4%; margin-top: 50px; width: 73%;">
          <thead>
            <tr>
              <!-- All columns -->
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Cost</th>
              <th scope="col">Image</th>
              <th scope="col">Filters</th>
              <th scope="col">Stock</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <!-- This for loop is used to access tbl_items   -->
            {% for row in items %}
            <tr>
              <!-- This finds the values for the given column by specifying between the speech marks -->
              <th scope="row">{{ row['id'] }}</th>
              <td>{{ row['name'] }}</td>
              <td>{{ row['cost'] }}</td>
              <td>{{ row['image'] }}</td>
              <td>
                <!-- For loop which allows for filter_ids to appear under the name of the name_id -->
                {% set tag_names = [] %}
                  {% for f in filters %}
                  <!-- If the item ID is the same as the filter ID -->
                    {% if row['id'] == f['id'] %}
                      {% for n in names %}
                      <!-- If the filter ID is the same as the name ID -->
                        {% if f['name_id'] == n['id'] %}
                        <!-- Show the name of the filter -->
                          {% set _ = tag_names.append(n['name']) %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                  <!-- Separating filters with commas for clarity  -->
                {{ tag_names | join(', ') }}
              </td>
              <td>{{ row['stock'] }}</td>
              <td>
                <!-- Button to access edit item modal -->
                <button type="button" style="padding-top: 2px; padding-left: 6px; padding-right: 6px;"
                  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemModal{{ row['id'] }}">
                  <svg width="20" height="20" fill="white">
                    <use xlink:href="#gear" />
                  </svg></button>

                  <!-- Button to access delete item modal -->
                <button type="button" style="padding-top: 2px; padding-left: 6px; padding-right: 6px;"
                  class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteItemModal{{ row['id'] }}">
                  <svg width="20" height="20" fill="white">
                    <use xlink:href="#remove" />
                  </svg></button>

                  <!-- Edit item modal -->
                <div class="modal" id="itemModal{{ row['id'] }}" tabindex="-1"
                  aria-labelledby="itemModalLabel{{ row['id'] }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <!-- Specify this as a POST form -->
                    <form method="POST" style="width:1000px;">
                      <!-- editID for reference in app.py -->
                      <input type="hidden" name="editID" value="{{ row['id'] }}">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="itemModalLabel{{ row['id'] }}">Edit Details</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                              <!-- ID of item - disabled -->
                              <label for="recipient-name" class="col-form-label">ID</label>
                              <input type="text" class="form-control" value="{{ row['id'] }}" disabled>
                            </div>
                            <!-- Each input box has grabbed the value of the column by referencing the column in tbl_items -->
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Product Name</label>
                              <input type="text" class="form-control" name="editName{{ row['id'] }}"
                                value="{{ row['name'] }}" required>
                                <!-- 'required' forces the user to place an input -->
                            </div>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Cost</label>
                              <input type="number" class="form-control" name="editCost{{ row['id'] }}"
                                value="{{ row['cost'] }}" min="0.01" step="0.01" required>
                                <!-- min="" and step="" forces the user to a minimum input of X and decimal placings of X -->
                            </div>
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Image Location</label>
                              <textarea class="form-control" name="editImage{{ row['id'] }}"
                                value="{{ row['image'] }}">{{ row['image'] }}</textarea>
                            </div>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Stock</label>
                              <input type="number" class="form-control" name="editStock{{ row['id'] }}"
                                value="{{ row['stock'] }}" min="0" required>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <!-- Cancel edit button -->
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <!-- Save changes button - named as action to refer in the app.py as saveItemBtn to execute that function's code -->
                          <button type="submit" class="btn btn-primary" name="action" value="saveItemBtn">Save
                            Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <!-- Delete item modal -->
                <div class="modal" id="deleteItemModal{{ row['id'] }}" tabindex="-1"
                  aria-labelledby="deleteItemModalLabel{{ row['id'] }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <form method="POST" style="width:1000px;">
                      <div class="modal-content">
                        <!-- Hidden id to reference which item to remove using the primary key of ID -->
                        <input type="hidden" name="itemRemoveID" value="{{ row['id'] }}">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteItemModalLabel{{ row['id'] }}">Do you want to
                            delete this item?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <!-- "action" is deleteItemBtn -->
                          <button type="submit" class="btn btn-primary" name="action"
                            value="deleteItemBtn">Proceed</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
            <!-- End the for loop for tbl_items since it is no longer referenced -->
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="filters">
        <h1 style="margin-left:50px; margin-top:30px; margin-bottom:-40px;">Filters</h1>
        <!-- Filters Table -->
        <table class="thing table table-striped table-hover table-bordered align-middle"
          style="margin-left: 4%; margin-top: 50px; width: 73%;">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name ID</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for f in filters %}
            <tr>
              <th scope="row">{{ f['id'] }}</th>
              <td>
                {% for n in names %}
                  {% if f['name_id'] == n['id'] %}
                    {{ n['name'] }}
                  {% endif %}
                {% endfor %}
              </td>
              <td>

                <button type="button" style="padding-top: 2px; padding-left: 6px; padding-right: 6px;"
                  class="btn btn-secondary" data-bs-toggle="modal"
                  data-bs-target="#filterDeleteModal{{ f['id'] }}{{ f['name_id'] }}">
                  <svg width="20" height="20" fill="white">
                    <use xlink:href="#remove" />
                  </svg></button>

                <div class="modal" id="filterDeleteModal{{ f['id'] }}{{ f['name_id'] }}" tabindex="-1"
                  aria-labelledby="filterModalLabel{{ f['id'] }}{{ f['name_id'] }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <form method="POST" style="width:1000px;">
                      <div class="modal-content">
                        <input type="hidden" name="filterRemoveID" value="{{ f['id'] }}">
                        <input type="hidden" name="filterRemoveNameID" value="{{ f['name_id'] }}">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="filterModalLabel{{ f['id'] }}{{ f['name_id'] }}">Do you want
                            to
                            delete this filter?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-primary" name="action"
                            value="deleteFilterBtn">Proceed</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="filternames">
        <h1 style="margin-left:50px; margin-top:30px; margin-bottom:-40px;">Filter Names</h1>
        <!-- Filters Names Table -->
        <table class="thing table table-striped table-hover table-bordered align-middle"
          style="margin-left: 4%; margin-top: 50px; width: 73%;">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name ID</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for n in names %}
            <tr>
              <th scope="row">{{ n['id'] }}</th>
              <td>{{ n['name'] }}</td>
              <td>

                <button type="button" style="padding-top: 2px; padding-left: 6px; padding-right: 6px;"
                  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nameModal{{ n['id'] }}">
                  <svg width="20" height="20" fill="white">
                    <use xlink:href="#gear" />
                  </svg></button>

                <button type="button" style="padding-top: 2px; padding-left: 6px; padding-right: 6px;"
                  class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteNameModal{{ n['id'] }}">
                  <svg width="20" height="20" fill="white">
                    <use xlink:href="#remove" />
                  </svg></button>

                <div class="modal" id="nameModal{{ n['id'] }}" tabindex="-1"
                  aria-labelledby="nameModalLabel{{ n['id'] }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <form method="POST" style="width:1000px;">
                      <input type="hidden" name="nameID" value="{{ n['id'] }}">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="nameModalLabel{{ n['id'] }}">Edit Details</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">ID</label>
                              <input type="text" class="form-control" value="{{ n['id'] }}" disabled>
                            </div>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Product Name</label>
                              <input type="text" class="form-control" name="editName{{ n['id'] }}"
                                value="{{ n['name'] }}" required>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" name="action" value="saveNameBtn">Save
                            Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="modal" id="deleteNameModal{{ n['id'] }}" tabindex="-1"
                  aria-labelledby="deleteNameModalLabel{{ n['id'] }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <form method="POST" style="width:1000px;">
                      <div class="modal-content">
                        <input type="hidden" name="filterNameRemoveID" value="{{ n['id'] }}">
                        <input type="hidden" name="filterNameRemoveNameID" value="{{ n['name'] }}">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteNameModalLabel{{ n['id'] }}">Do you want to
                            delete this filter?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-primary" name="action"
                            value="deleteNameBtn">Proceed</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Add filter modal -->
    <div class="modal" id="addFilterModal" tabindex="-1" aria-labelledby="addFilterModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <!-- POST request form -->
        <form method="POST" style="width:1000px;">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addFilterModalLabel">Add Filter</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="addFilterID" class="col-form-label">ID</label>
                <input type="number" class="form-control" name="addFilterID" min="1" required>
              </div>
              <div class="mb-3">
                <label for="addFilterNameID" class="col-form-label">Name ID</label>
                <input type="number" class="form-control" name="addFilterNameID" min="1" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- "action" is the function add_filter_form to add a new filter -->
              <button type="submit" class="btn btn-primary" name="action" value="add_filter_form">Add Filter</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Add item modal -->
    <div class="modal" id="addItemModal" tabindex="-1" aria-labelledby="addItemModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <form method="POST" style="width:1000px;">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addItemModalLabel">Add Item</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="addItemName" class="col-form-label">Product Name</label>
                <input type="text" class="form-control" name="addItemName" required>
              </div>
              <div class="mb-3">
                <label for="addItemCost" class="col-form-label">Cost</label>
                <input type="number" class="form-control" name="addItemCost" step="0.01" min="0.01" required>
              </div>
              <div class="mb-3">
                <label for="addItemImage" class="col-form-label">Image Location</label>
                <input type="text" class="form-control" name="addItemImage">
              </div>
              <div class="mb-3">
                <label for="addItemStock" class="col-form-label">Stock</label>
                <input type="number" class="form-control" name="addItemStock" min="0"required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" name="action" value="add_item_form">Add Item</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Add filter name modal -->
    <div class="modal" id="addNameModal" tabindex="-1" aria-labelledby="addNameModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <form method="POST" style="width:1000px;">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addNameModalLabel">Add New Filter Name</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="addNameFilter" class="col-form-label">Filter Name</label>
                <input type="text" class="form-control" name="addNameFilter" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" name="action" value="add_filter_name_form">Add Item</button>
            </div>
          </div>
        </form>
      </div>
    </div>


  </main>

  <!-- Script to reference and use bootstrap -->
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Script to reference and use bootstrap sidebars template -->
  <script src="sidebars.js"></script>
</body>

</html>